<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>{{page_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Untitled-1.css' %}">
    </head>

    <body class="body-light" id="body">
        <!-- main card -->
        <div class="card high-level-card card-light" id="card1">
            <div class="card-body">
                <div>
                    <img src="{% static 'img/Foto.jpg' %}" class="img-thumbnail rounded-circle" id="profilePhoto" alt="Picture of Kevin Christian Chandra">
                </div>

                <div>
                    <h1 class="profile-heading profile-heading-light text-center">{{profile_name}}</h1>
                    <hr class="hr-light">
                    <h3 class="profile-heading profile-heading-light text-center">{{motto}}</h3>
                </div>

                <div class="center-wrapper">
                    <button type="button" class="btn btn-dark" id="themeButton">Ubah tema</button>
                </div>
            </div>
        </div>

        <div id="accordion">
            <!-- accordion #1 -->
            <div class="high-level-card" id="card2">
                <div class="card header-card header-card-light accordion">
                    <div class="card-body header-card-body">
                        <h4 class="header-card-heading header-card-heading-light" id="description">Description</h4>
                    </div>
                </div>

                <div class="card card-light panel">
                    <div class="card-body">
                        <p>I am a student at University of Indonesia's Faculty of Computer Science. I first enrolled here at July 2017. I am now on my second year. I'm currently a teaching assistant for the Fundamental Programming 1 Class. I also join the commitee of RKF 2018 and PMB 2018, events on my campus. I live by my motto, that I should strive to do the best in my study, not just to get the best score. Score is just a number, but experience and skills are more than that number. And I believe that with good skills, that number will then come along.</p>
                    </div>
                </div>
            </div>

            <!-- accordion #2 -->
            <div class="high-level-card" id="card3">
                <div class="card header-card header-card-light accordion">
                    <div class="card-body header-card-body">
                        <h4 class="header-card-heading header-card-heading-light" id="exp">Experience</h4>
                    </div>
                </div>

                <div class="card card-light panel">
                    <div class="card-body list-card">
                        <ul>2018 - Teaching assistant for the Fundamental Programming 1 Class</ul>
                        <ul>2018 - Mentor for PMB Fasilkom UI 2018</ul>
                        <ul>2017 - Intern at Sekolah BEM Fasilkom UI</ul>
                    </div>
                </div>
            </div>

            <!-- accordion #3 -->
            <div class="high-level-card" id="card4">
                <div class="card header-card header-card-light accordion">
                    <div class="card-body header-card-body">
                        <h4 class="header-card-heading header-card-heading-light" id="achievements">Achievements</h4>
                    </div>
                </div>

                <div class="card card-light panel">
                    <div class="card-body list-card">
                        <ul>2016 - 2nd Place in the FLS2N Jakarta Pusat on Poster Design</ul>
                        <ul>2016 - 3rd Place in the OSK Astronomi Jakarta Pusat 1</ul>
                        <ul>2015 - 1st Place in the OSK Astronomi Jakarta Pusat 1</ul>
                    </div>
                </div>
            </div>

            <div class="high-level-card" id="card5">
                <div class="card header-card header-card-light accordion">
                    <div class="card-body header-card-body">
                        <h4 class="header-card-heading header-card-heading-light" id="education">Education</h4>
                    </div>
                </div>

                <div class="card card-light panel">
                    <div class="card-body list-card">
                        <ul>2017 - Now</ul>
                        <ul>University of Indonesia's Faculty of Computer Science</ul>
                        <ul>2014 - 2017</ul>
                        <ul>Kristen Ketapang 1 Senior High School Jakarta</ul>
                        <ul>2011 - 2014</ul>
                        <ul>Kristen Ketapang 1 Junior High School Jakarta</ul>
                        <ul>2005 - 2011</ul>
                        <ul>Kristen Ketapang 1 Elementary School Jakarta</ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="accordion">
            <h3>Section 1</h3>
            <div>
              <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget.
              Integer ut neque. Vivamus nisi metus, molestie vel, gravida in,
              condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros.
              Nam mi. Proin viverra leo ut odio.</p>
            </div>
            <h3>Section 2</h3>
            <div>
              <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
              Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
              faucibus interdum tellus libero ac justo.</p>
            </div>
            <h3>Section 3</h3>
            <div>
              <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus.
              Quisque lobortis.Phasellus pellentesque purus in massa.</p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </div>
          </div> -->
          
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="{% static 'js/jquery.js' %}"></script>
    </body>
</html>