.body-light {
    background-color: #E6E6E6;
}

.body-dark {
    background-color: black;
}

.card {
    border-radius: 1rem;
}
.card-light {
    background-color: white;
}

.card-dark {
    background-color: #E6E6E6;
}

.high-level-card {
    margin: 2% 2% 2% 2%;
}

#profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 15rem;
    max-width: 15rem;
}

.profile-heading-light {
    color: "Black";
}

.profile-heading-dark {
    color: "White";
}

.hr-light {
    border-top: 1px solid black;
}

.hr-dark {
    border-top: 1px solid white;
}

#themeButton {
    margin:auto;
    display:block;
}

.header-card {
    max-width: 14rem;
    max-height: 10%;
    padding: 0px;
    background-color: #6abdff;
    margin: auto;
}

.header-card-light:hover {
    background-color: #259afa;
}

.header-card-dark:hover {
    background-color: #014379;
}


.header-card-light {
    background-color: #6abdff;
}

.header-card-dark {
    background-color: #065697;
}

.header-card-body {
    padding: 0px;
}

.header-card-heading {
    margin: 0.3rem 0px 0.3rem 0px;
    color: white;
    text-align: center;
}

.header-card-heading-light {
    color: black;
}

.header-card-heading-dark {
    color: #E6E6E6;
}

.list-card {
    padding-left: 0rem;
}

/* .accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
} */